body{
    background-image: linear-gradient(to right, rgb(248, 222, 222),rgb(243, 178, 221),rgb(245, 167, 225),rgb(247, 128, 193),rgb(250, 73, 226));
}

.logo img{
    height: 90px;
    width: 90px;
}

#div1 h1{
    display: block;
    margin: auto;
    margin-top: 120px;
    color: #860cac ; 
    font-family:'Courier New', Courier, monospace; 
}
.btn-primary{
    margin-top: 50px;
    border-radius: 21px;
}
#imagem{
    border: 2px solid aquamarine;
    border-radius: 15px;
    max-height: 500px;
    margin-top: 100px;
}
main{  
    color: #0D38A1;  
    }

main .secao1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
main .secao1 #container2 div{
    display: -moz-grid-line;
    justify-content: center;
    margin-top: 20px;
}
main .secao1 #container2 #a img{
    float: left;
    width: 50px;
    height: 50px;
}
main .secao1 #container2 #b img{
    float: left;
    width: 50px;
    height: 50px;
}
main .secao2{
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main .secao2 #quartos{
    display: flex;
    justify-content: center;
}
main .secao2 #quartos img{
    border: 3px solid greenyellow;
    border-radius: 10%;
    width: 300px;
    height: 250px;
    margin: 10px;
}
main .secao3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main .secao3 label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

main .secao3 .form{
    display: grid;
    padding: auto;
    margin-left: 20px;
}

main .secao3 #div2 .formulario{
    display: grid;
    padding: auto;
    margin-left: 20px;
}
textarea{
    border-radius: 15px;
    border-color: rgb(29, 72, 109);
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    height: 100px;
    width: 200px;
}
main .secao3 #div3{
    display: flexbox;
    margin-left: 10px;
}
main .secao3 #div3 #div4{
display: inline;
}
main .secao3 #div3 #div4 input{
    margin: 5px;
    border-radius: 5px;
    max-width: 50px;
}